:root {
  --animation-duration: 500ms;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  color: #303030;
  background-color: #dfdfdf;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background var(--animation-duration);
  backdrop-filter: blur(16rem);
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  position: absolute;
  inset-inline: 0;
  top: 0;
  padding: 1.6rem 0;
  color: #ffffff;
}

main {
  height: 100vh;
  width: 100%;
  padding-inline: 8rem;
  padding-top: 6.4rem;
  overflow: hidden auto;
}

#slider {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#slider > button {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: center;
  border: none;
  color: #303030;
  background-color: #dfdfdf;
  height: 2.4rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transform: translateY(-50%);
  box-shadow: 0.8rem 0.8rem 1.6rem 0 #dfdfdf22;
}

#slider > #left {
  left: 8%;
}

#slider > #right {
  right: 8%;
}

#slider-img {
  position: absolute;
  display: none;
}

#slider-img.active,
#slider-img.right,
#slider-img.left {
  display: block;
  max-width: 75%;
  max-height: 75%;
  object-fit: cover;
  border: 0.8rem solid #ffffff;
  box-shadow: 0.8rem 0.8rem 1.6rem 0 #dfdfdf22;
}

#slider-img.left {
  opacity: 0;
  transform: translateX(-75%) scale(0);
}

#slider-img.right {
  opacity: 0;
  transform: translateX(75%) scale(0);
}

#dots {
  position: absolute;
  bottom: 5%;
  display: flex;
  gap: 0.8rem;
}

.dot {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  background-color: #dfdfdf88;
  transition: transform var(--animation-duration) ease-in-out;
}

.dot.active {
  transform: scale(1.5);
  background-color: #dfdfdf;
}

.enter-right {
  animation: enter-right var(--animation-duration);
}

.enter-left {
  animation: enter-left var(--animation-duration);
}

.exit-right {
  animation: exit-right var(--animation-duration);
}

.exit-left {
  animation: exit-left var(--animation-duration);
}

@keyframes enter-right {
  from {
    opacity: 0;
    transform: translateX(75%) scale(0);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes enter-left {
  from {
    opacity: 0;
    transform: translateX(-75%) scale(0);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes exit-right {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateX(75%) scale(0);
  }
}

@keyframes exit-left {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateX(-75%) scale(0);
  }
}
