* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::selection {
  color: #ffffff;
  background-color: #1d9bf088;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 11fr 9fr;
  background-color: #1d9bf0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

footer {
  width: 100%;
  min-height: 4vh;
  padding: 0.8rem;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: #d6d9db88;
  background-color: #000000;
  font-size: 0.64rem;
}

#art {
  display: grid;
  place-items: center;
}

#art > svg {
  width: 36%;
  color: #ffffff;
}

#panel {
  height: 100vh;
  padding: 1.8rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  color: #d6d9db;
}

#panel > svg {
  height: 6.4%;
}

#panel > h1 {
  font-size: 3.6rem;
}

#signup,
#signin {
  width: max(36%, 288px);
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#signup > button,
#signin > button {
  width: 100%;
  background-color: #1d9bf0;
  color: #ffffff;
  font-weight: 500;
  padding: 0.4rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 2.4rem;
  cursor: pointer;
}

#signup > button[id] {
  color: #000000;
  background-color: #ffffff;
}

#signup > span {
  font-size: 0.8rem;
  align-self: stretch;
  text-align: center;
  position: relative;
}

#signup > span::before,
#signup > span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 45%;
  background-color: #d6d9db88;
}

#signup > span::before {
  left: 0;
}

#signup > span::after {
  right: 0;
}

#signup > p {
  color: #d6d9db88;
  font-size: 0.64rem;
}

#signup > p > a {
  color: #1d9bf0;
}

#signin {
  gap: 0.8rem;
}

#signin > p {
  font-size: 0.96rem;
  align-self: flex-start;
}

#signin > button {
  color: #1d9bf0;
  background-color: #000000;
  border-color: #d6d9db88;
}

#signin > button:hover {
  background-color: #1d9bf011;
}
