* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  margin: 2rem 0;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
}

main {
  width: 100%;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

form {
  width: 48rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.4rem;
}

form > label {
  font-size: 1.2rem;
  font-weight: 500;
}

form > input {
  width: 100%;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
}

form > span {
  grid-column: 2;
  margin-bottom: 0.8rem;
  height: 1.6rem;
  font-size: 0.9rem;
  color: crimson;
}

form > button {
  grid-column: span 2;
  place-self: center;
  width: 50%;
}

form > button {
  background-color: #00bcd4;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  cursor: pointer;
}

.error {
  color: crimson;
  border-color: crimson;
}

.error::placeholder {
  color: crimson;
}
